

@model IEnumerable<DB43.Models.AddCourseViewModels>
@{
    ViewBag.Title = "DIisplayCoursesToTeacher";
    Layout = "~/Views/Shared/Teacherlayout.cshtml";
}



<h2>Display</h2>



<div class="sec-title p-b-60">
    <h3 class="m-text5 t-center">
        Short Courses
    </h3>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="block-19">
                <figure>
                    <img src="@Url.Content(item.CourseImage)" height="350" width="450" class="img-fluid" />
                </figure>
                <div class="text">
                    <h2 class="heading"><a href="#">@item.Title</a></h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <div class="meta d-flex align-items-center">
                             
                        <a href="~/Course/Get_Id/@item.Id" class="price text-right"><span>View Details</span></a>
                 
                    </div>
                </div>
            </div>
        </div>
    }
</div>




@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@




