
@model IEnumerable <DB43.Models.DepartmentViewModel>
@{
    ViewBag.Title = "IndexStudent";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="sec-title p-b-60">
    <h3 class="m-text5 t-center">
        DEPARTMENTS
    </h3>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="block-19">
                
                <div class="text">
                    <h2 class="heading">@item.Name</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
					<div class="meta d-flex align-items-center">

						<button onclick="location.href='@Url.Action("Index", "Course", new { id = item.Id})';return false;" class="btn btn-default">View Course</button>

					</div>
                </div>
            </div>
        </div>
    }
</div>
